@using Wander.Server.Models
@model Wander.Server.Models.UserAccount

@using (@Html.BeginForm("SignUp", "User", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(x => x.Login)
        @Html.TextBoxFor(x => x.Login, new { @class = "form-control", @required = true, @min = UserAccount.MinLoginLength }) Should be at least @UserAccount.MinLoginLength characters long
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Email)
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @required = true })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Password)
        @Html.PasswordFor(x => x.Password, new { @class = "form-control", @required = true, @min = UserAccount.MinPasswordLength }) Should be at least @UserAccount.MinPasswordLength characters long
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.PasswordConfirm)
        @Html.PasswordFor(x => x.PasswordConfirm, new { @class = "form-control", @required = true, @min = UserAccount.MinPasswordLength })
    </div>

    <div class="form-group">
        @Html.RadioButtonFor(x => x.Sex, 1, new {@required = true }) Male
        @Html.RadioButtonFor(x => x.Sex, 0, new { @required = true }) Female
    </div>
    <button type="submit" class="btn btn-success">Sign Up</button>

}

